{{#each response}}
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-4 object-fit-contain">
        <img src="{{this.image}}" alt="" class="img-fluid" />
      </div>
      <div class="col-8 d-flex justify-content-center align-items-center">
        <p>{{this.description}}</p>
      </div>
    </div>
  </div>
  <div>
    {{this.title}}
  </div>
  <div>
    {{this._id}}
  </div>
  <div class="container-fluid">
    <form action="/product/{{this._id}}/edit" method="GET">
      <button class="btn btn-primary mb-5" type="submit">EDIT</button>
    </form>
    <form action="/allListings" method="POST">
      <input type="hidden" name="id" value="{{this._id}}" />
      <button class="btn btn-outline bg-danger" type="submit">DELETE</button>
    </form>
  </div>
{{/each}}