<section style="background-color: #eeen">
  <div class="container-lg py-5 text-center">
      <div class="container">
        <div class="row justify-content-center">
          {{#each product.image}}
              <div class="col-md-3 col-sm-6 py-2 d-flex justify-content-center align-items-center border rounded">
                <img src="{{this}}" class="img-fluid">
              </div>
          {{/each}}
        </div>
      </div>


      <div class="d-flex row justify-content-center p-3">
        <form action="/product/{{product._id}}" method="POST" id="buyForm" class="d-flex justify-content-center">
          <div><h1 class="align-items-center">{{product.price}}<span>$</span></h1></div>
          <button class="btn btn-primary border-rad m-2" id="buyButton">Add to cart</button>
        </form>
      </div>

      <div class="d-flex justify-content-center p-3">
        <div>

        <div class="row">
          <h2>{{product.title}}</h2>
        </div>
        <div class="row">
          <h4>{{product.model}}</h4>
        </div>
        <div class="row">
          <h4>{{product.brand}}</h4>
        </div>
        <div class="row text-primary">
          <h6>{{product.condition}}</h6>
        </div>

        </div>
      </div>

    </div>

    <div class="d-flex mb-3 justify-content-center">
      <div>
        <p>{{product.description}}</p>
     
      </div>
    </div>
      <div class="d-flex justify-content-evenly mb-5">
        {{#each product.specifications}}
          <span class="d-flex justify-content-evenly" >{{this}}</span>
        {{/each}}
      </div>
    </div>

  </div>
</section>